<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="flow-text">{{details.name}}</span>
    </mat-panel-title>
    <!-- <i class="material-icons red-text" (click)="delete()">delete</i> -->
  </mat-expansion-panel-header>
  <mat-panel-description>
    <app-prediction class="col s12" [inputDisabled]=true [details]="details" [result]="details.results" [showSave]=false
      [showPredict]=false [showResult]=true>
    </app-prediction>
  </mat-panel-description>
  <mat-action-row>
    <button mat-button class="btn small red" color="primary" (click)="delete()">Delete</button>
  </mat-action-row>
</mat-expansion-panel>
