<mat-drawer-container>
  <mat-drawer-content>
    <nav>
      <div class="nav-wrapper teal">
        <a style="height:100%;width:10%" class="brand-logo center"><img style="height:100%;width:100%"
            src="../assets/LDePLogo.png" /></a>
        <ul class="left">
          <li>
            <a class="left" (click)="snav.toggle()"><i class="material-icons">menu</i></a>
          </li>
        </ul>
        <!-- <ul class="right">
          <li (click)="openDialog()"><a><i class="material-icons white-text"
                matTooltip="Ask a question">add_circle_outline</i></a></li>
        </ul> -->
      </div>
    </nav>
    <div class="container">
      <h4>Generate a Prediction</h4>
      <app-prediction></app-prediction>
      <!-- <button class="btn small" (click)="test()">test</button> -->
    </div>
  </mat-drawer-content>

  <mat-drawer class="sidenav" #snav mode="over">
    <div class="user-view" style="height:40%;width:100%">
      <div class="background">
        <img style="height:100%;width:100%" src="../../assets/userbg.jpeg">
      </div>
      <!-- <a routerLink="/profile"><img class="circle" src="{{endpoint}}/users/img/{{username}}"></a> -->
      <a><span class="white-text name">{{username|titlecase}}</span></a>
      <a><span class="white-text email">{{email}}</span></a>
    </div>
    <ul>
      <li class="center">
        <h4 class="blue-text text-darken-2">Hi, {{username|titlecase}}!</h4>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a routerLink="/profile">My Profile</a>
      </li>
      <li>
        <a (click)="logout()"><i class="material-icons">arrow_back</i>Logout</a>
      </li>
    </ul>
  </mat-drawer>
</mat-drawer-container>
